/* Import and use Work Sans font as default */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* Default font for body */
body {
  font-family: "Work Sans", serif !important;
}

/* Decrease section padding from 3rem */
.py-5 {
  padding-top: 0 !important;
  padding-bottom: 2rem !important;
}

/* Decrease the first section height from 100 */
#hero {
  min-height: 10vh !important;
}

/* Decrease the social row height from 50 */
#hero a.btn.social-icon {
  margin-top: 1px !important;
}

/* Bold font in "tjänster" title */
#education .card-title {
  font-weight: bold !important;
}
